root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2


[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# 徘 包访 可记
indent_size = 4
tab_width = 4
indent_style = tab
insert_space = false

# Visual C++ 内靛 胶鸥老 汲沥

cpp_generate_documentation_comments = xml

# 家褒龋 包访 可记
cpp_space_before_function_open_parenthesis = ignore
cpp_space_within_parameter_list_parentheses = true
cpp_space_after_keywords_in_control_flow_statements = true
cpp_space_within_control_flow_statement_parentheses = true
cpp_space_within_cast_parentheses = true
cpp_space_after_cast_close_parenthesis = true
cpp_space_within_expression_parentheses = true
